@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* body {
  height: 100vh;
  width: 100vw;
} */

/* Css-nav */

nav .logo img,
.footer-logo img {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
  color: #1c1e53;
  transition: color 0.3s ease;
}

nav ul a:hover {
  border-bottom: 1px solid #1c1e53;
}

#menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 7x;
}

.main {
  background-color: #c6ffdd;
  padding: 90px 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

h5 {
  font-size: 20px;
}

li {
  list-style: none;
}

nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 0 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo a {
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav button {
  color: #1c1e53;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #1c1e53;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  background-color: #6a82fb;
  border-color: #6a82fb;
  color: #fff;
}

/* Css-main */

.main {
  margin-top: 20px;
  padding: 90px 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main .info h5 span {
  color: #6a82fb;
  font-size: 25px;
}

.folow {
  margin-top: 20px;
  color: #fff;
  background-color: #6a82fb;
  border-color: #6a82fb;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

folow:hover {
  transform: scale(1.2);
}

h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 40px;
}
p {
  margin-top: 10px;
}

.ava img {
  border-radius: 10px;
  width: 500px;
}

/* Css-skill */

.skills {
  padding: 110px 85px 0;
  margin-bottom: 50px;
}

.skills h3,
.about .right h3,
.portfolio .header h3,
.feedback h3 {
  font-size: 40px;
  margin-top: 20px;
}

.skills .skill-items {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}

.item {
  background-color: #c6ffdd;
  border-radius: 10px;
  width: 25%;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 4px solid transparent;
}

.skills .skill-items .item:hover {
  border-color: #6a82fb;
}

.skills .skill-items .item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 46px;
  width: 46px;
  border-radius: 10px;
  font-size: 20px;
  color: #3f5efb;
}

.skills .skill-items h4 {
  margin-top: 20px;
  font-weight: bold;
}

.skills .skill-items p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
}

/* Css-About */

.about {
  background-color: #fff;
  padding: 85px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about .about-ava img {
  width: 550px;
  border-radius: 10px;
}

.about-info {
  font-size: 16px;
  margin-top: 30px;
}

/* Css-footer */

footer {
  background-color: #c6ffdd;
  display: flex;
  padding: 85px;
  /* gap: 40px; */
  flex-direction: column;
}

.footer-top {
  align-items: center;
}

footer .footer-top,
.social-icon ul {
  display: flex;
  justify-content: space-between;
}

.contact ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-top .footer-logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  gap: 10px;
}

.footer-top .footer-logo a,
.contact ul a,
.social-icon a {
  color: #23074d;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-icon :hover {
  scale: 1.15;
}

.contact a:hover {
  border-bottom: 1px solid #23074d;
}

footer .footer-button {
  display: flex;
  padding: 30px;
  font-size: 18px;
}

footer .footer-button p span {
  align-items: center;
  transition: all 0.3s ease;
}

footer .footer-button :hover span {
  color: red;
}

/* responsive */

@media screen and (max-width: 992px) {
  nav button {
    display: none;
  }
}
nav ul {
  gap: 20px;
}

nav ul li a {
  font-size: 15px;
}

.main {
  flex-direction: flex;
}

/* @media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 42px;
  }
}

nav ul {
  display: none;
}

nav.open .logo {
  display: none;
}

nav.open ul {
  display: flex;
}

nav button#menuButton {
  display: flex;
}

.main {
  padding: 42px;
} */
